/* CSS files add styling rules to your content */

body {
  font-family: Helvetica;
  text-align: center;
  background-color: cyan;
}
h1{
  color:white;
  text-shadow:2px 2px #333;
}
div{
  background-color:lime;
  border: 5px solid black;
  border-radius: 20px;
  width:70%;
  margin:auto;
}
input,button{
  width:250px;
  padding:5px;
  margin:5px;
}
label{
  background-color:lightgray;
  padding:4px;
}
#msg{
  text-color: pink;
  
}