/* CSS files add styling rules to your content */

html {
    height: 100%;
  background-size: cover;
}
body {
  font-family: Helvetica;
  text-align: center;
  background-image: linear-gradient(red, yellow);
}
h1,a{
  color:white;
  text-shadow:2px 2px #333;
  padding:10px;
  margin:10px;
  text-decoration:none;
}
div{
  background-color:lime;
  border: 5px solid black;
  border-radius: 20px;
  width:70%;
  margin:auto;
}
input,button{
  width:250px;
  padding:5px;
  margin:5px;
}
label{
  background-color:lightgray;
  padding:4px;
}
#msg{
  font-size: 25px;
}
#result{
  font-size: 25px;
}
#testerPanel{
  display: none;
}
canvas{
  border:1px solid blue;
  background-color:rgba(100,100,100);

}